{% extends 'base.html.twig' %}

{% block content %}
{% block title %}Reset your password{% endblock %}

{% block body %}
    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary mb-5">Reset password</button>
    {{ form_end(resetForm) }}
{% endblock %}
{% endblock %}
