{% extends 'base.html.twig' %}

{% block content %}

    {% block title %}Edit Image{% endblock %}

    {% block body %}

        {{ form_start(form) }}

                    <div class="col-sm-4">
                        <img style="width: 100%; height: 400px" class="mb-2"
                             src="{{ asset("assets/uploads/images/" ~ image.imageUrl) }}"
                             alt="Card image trick">
                    </div>
        {{ form_row(form.image) }}
        <button type="submit" class="btn btn-outline-info">Update image</button>

        {{ form_end(form) }}


    {% endblock %}

{% endblock %}
