@charset "UTF-8";

footer {
    padding-top: 0;
    padding-bottom: 0;
}

header.masthead {
    position: relative;
    margin-bottom: 3rem;
    padding-top: calc(2rem + 57px);
    padding-bottom: 2rem;
    background-size: cover;
}

header.masthead:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
}

header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
    color: #fff;
}

header.masthead .page-heading,
header.masthead .site-heading {
    text-align: center;
}

header.masthead .page-heading h1, header.masthead .page-heading .h1,
header.masthead .site-heading h1,
header.masthead .site-heading .h1 {
    font-size: 3rem;
}

header.masthead .post-heading h1, header.masthead .post-heading .h1 {
    font-size: 2.25rem;
}

header.masthead .post-heading .meta {
    font-size: 1.25rem;
    font-weight: 300;
    font-style: italic;
    font-family: "Lora", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

header.masthead .post-heading .meta a {
    color: #fff;
}

@media (min-width: 992px) {
    header.masthead {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    header.masthead .page-heading h1, header.masthead .page-heading .h1,
    header.masthead .site-heading h1,
    header.masthead .site-heading .h1 {
        font-size: 5rem;
    }

    header.masthead .post-heading h1, header.masthead .post-heading .h1 {
        font-size: 3.5rem;
    }

    /*noinspection ALL,CssUnusedSymbol*/
}

.avatar-comment {
    width: 50px;
    height: 50px;
}

.comment-div-row {
    width: 60%;
    margin-left: 20%;
    border: none;
}

.border-text-comment {
    border: #5c636a solid 1px;
}

div.ui-menu li {
    list-style: none;
    background-image: none;
    background-repeat: no-repeat;
    background-position: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-item:hover {
    background-color: #999999;
}

.mainNav {
    position: fixed;
    top:0;
    padding:40px;
    background: lightblue;
    text-align: center;
}

.site-heading {
    background: rgba(0, 0, 0, 0.4);
}