{% extends 'base.html.twig' %}

{% block title %}Hello CreateTrickController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="login-form bg-light mt-4 p-4">
                <form method="post" class="row g-3" action="{{ path('') }}">
                    <h1 class="h3 mb-3 font-weight-normal">PCreate new Trick
                        <h1>
                            <div class="col-12">
                                <label for="user_id">userId</label>
                                <input type="hidden" name="user_id" id="user_id" class="form-control">
                            </div>
                            <div class="col-12">
                                <label for="name">Name</label>
                                <input type="text" name="name" id="name" class="form-control" required>
                            </div>
                            <div class="col-12">
                                <label for="description">Description</label>
                                <textarea name="description" id="description" class="form-control"required> </textarea>
                            </div>

                            <div class="col-12">
                                <label for="category">Category</label>
                                <select name="category" id="category">
                                    <option value=""></option>
                                </select>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-lg btn-primary float-end" type="submit">
                                    Sign in
                                </button>
                            </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
